.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button {
	border:1px solid #acb1b7;
  background-color:#3b465a;
  color: #ffffff;
  text-decoration: transparent;
  width: 100px;
  height: 100px;
}

.button:hover {
  background-color:#403b5a;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
